name: Publish Docker Image

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  IMAGE: ghcr.io/dhanushl0l/reactive-resume

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.version.outputs.version }}

    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Extract version from package.json
        id: version
        run: echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_OUTPUT"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push to GHCR (by digest)
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          outputs: type=image,name=${{ env.IMAGE }},push-by-digest=true,name-canonical=true,push=true
          labels: |
            org.opencontainers.image.version=${{ steps.version.outputs.version }}

      - name: Save digest artifact
        run: |
          mkdir -p /tmp/digests
          echo "${{ steps.build.outputs.digest }}" >> /tmp/digests/digest-${{ matrix.platform }}

      - name: Upload digest artifacts
        uses: actions/upload-artifact@v4
        with:
          name: digest-files
          path: /tmp/digests
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download digest artifacts
        uses: actions/download-artifact@v4
        with:
          name: digest-files
          path: /tmp/digests

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Create and Push Manifest List
        run: |
          docker buildx imagetools create \
            -t ${{ env.IMAGE }}:${{ needs.build.outputs.version }} \
            -t ${{ env.IMAGE }}:latest \
            $(cat /tmp/digests/*)

      - name: Inspect final image
        run: docker buildx imagetools inspect ${{ env.IMAGE }}:${{ needs.build.outputs.version }}
